    /*Employees statistics card styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card {
        max-width: 600px;
        height: 575px;
        background: rgb(204, 204, 204);
        margin: 30px 10px;
        padding: 20px 20px;
        border-radius: 40px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        background: rgba(145, 142, 142, 0.37);
        backdrop-filter: blur(5px);
    }
    
    /*Employees statistics card styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card .img-box {
        position: relative;
        width: 350px;
        height: 260px;
        top: -60px;
        left: auto;
        z-index: 1;
    }
    
    /*Employees statistics image styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card .img-box img {
        max-width: 100%;
        border-radius: 35px;
        margin-left: 40px;
    }
    
    /*Employees statistics card content styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card .content {
        position: relative;
        margin-top: 5px;
        padding: 10px 15px;
        text-align: center;
        color: #111;
    }
    
    /*Employees statistics card content h2 styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card .content h2 {
        font-weight: 600;
        font-size: 28px;
        border-bottom: 2px solid #2d3e50;
    }
    
    /*Employees statistics first card content styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card .content .first {
        margin-top: 20px;
    }
    
    /*Employees statistics card content info styling*/

    .employees-statistics-section .employees-statistics .employees-statistics-card .card .content .info {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }