/* Styling for footer container */

footer {
    /* Make the footer fixed on the page */
    position: fixed;
    /* Make the footer at the bottom of the page */
    bottom: 0;
    width: 100%;
    background-color: #1f222a;
}


/* Styling for the horizontal line */

footer hr {
    border: 1px solid #b6b6b6;
    width: 90%;
    align-self: center;
}


/* Styling for the image logo in footer */

footer img {
    /* Make the image logo in one line with other elements */
    display: inline-block;
    vertical-align: middle;
    /* Make image logo space 7% from the left side of the page */
    margin-left: 7%;
    width: 5%;
}


/* Styling for the paragraph in footer */

footer p {
    /* Make the paragraph in one line with other elements */
    display: inline-block;
    /* Make paragraph space 2% from the image */
    margin-left: 2%;
    color: #b6b6b6;
}


/* Styling for the Sign in button */

#sign-in {
    /* Make the Sign in button in one line with other elements */
    display: inline-block;
    /* Make Sign in button space 43% from the paragraph */
    margin-left: 43%;
    background-color: #bbaea0;
    border: none;
    /* Make space around Sign in button's content, inside of its borders */
    padding: 0.3% 1%;
    /* Make rounded corners of Sign in button */
    border-radius: 15px;
}


/* Styling for the Sign in button when the user hovers on it */

#sign-in:hover {
    cursor: pointer;
    background-color: #948a81;
}


/* Styling for the Sign up button */

#sign-up {
    /* Make the Sign up button in one line with other elements*/
    display: inline-block;
    background-color: #776f67;
    /* Make Sign up button space 0.5% from the Sign in button*/
    margin-left: 0.5%;
    border: none;
    /* Make space around Sign up button's content, inside of its borders */
    padding: 0.3% 1%;
    /* Make rounded corners of Sign up button */
    border-radius: 15px;
}


/* Styling for the Sign up button when user hovers on it */

#sign-up:hover {
    cursor: pointer;
    background-color: #968a7f;
}