@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body {
    font-family: 'Jura', sans-serif;
    background-color: gray;
}

.accidents-statistics-first {
    background-image: url("https://media.discordapp.net/attachments/722478446311112775/835541315210969129/fire-removebg.jpg?width=1202&height=676");
    background-position: center;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
}

.accidents-statistics-label-first {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 20px;
    text-align: center;
}

.accidents-statistics-label-first h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    font-style: italic;
}

.accidents-statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.accidents-statistics-card {
    width: 500px;
    line-height: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 14px;
}

.accidents-table {
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
    border-top: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    text-align: center;
    background-image: linear-gradient(to right, #555555, #606060);
}

.accidents-statistics-label-second {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 20px;
    text-align: center;
}

.accidents-statistics-label-second h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    font-style: italic;
}