/*Import font from google*/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body {
    font-family: 'Jura', sans-serif;
    background-color: gray;
}

/*Fire trucks info styling*/

.fire-trucks-info {
    background-image: url("https://i.imgur.com/9OjSNJf.png");
    background-position: center;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
}

/*Fire trucks first label info styling*/

.info-label-first {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 20px;
    text-align: center;
}

/*Fire trucks first label info h1 styling*/

.info-label-first h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    font-style: italic;
}

/*Fire trucks info styling*/

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Fire trucks info card styling*/

.info-card {
    width: 500px;
    line-height: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 14px;
}