.info-section .info .info-card .card {
    max-width: 600px;
    height: 550px;
    background: rgb(204, 204, 204);
    margin: 30px 10px;
    padding: 20px 20px;
    border-radius: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(250, 250, 250, 0.1);
    backdrop-filter: blur(5px);
}

.info-section .info .info-card .card .img-box {
    position: relative;
    width: 350px;
    height: 260px;
    top: -60px;
    left: auto;
    z-index: 1;
}

.info-section .info .info-card .card .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
    margin-left: 45px;
    opacity: 0.7;
}

.info-section .info .info-card .card .content {
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: #111;
}

.info-section .info .info-card .card .content h2 {
    font-weight: 600;
    font-size: 28px;
    border-bottom: 2px solid #292d30;
    margin-bottom: 10px;
}

.info-section .info .info-card .card .content .first {
    margin-top: 20px;
}

.info-section .info .info-card .card .content .info {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}