.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card {
    max-width: 600px;
    height: 525px;
    background: rgb(204, 204, 204);
    margin: 30px 10px;
    padding: 20px 20px;
    border-radius: 40px;
}

.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card .img-box {
    position: relative;
    width: 350px;
    height: 260px;
    top: -60px;
    left: auto;
    z-index: 1;
}

.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card .img-box img {
    max-width: 100%;
    border-radius: 35px;
    margin-left: 40px;
}

.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card .content {
    position: relative;
    margin-top: 5px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
}

.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card .content h2 {
    font-weight: 600;
    font-size: 28px;
    border-bottom: 2px solid #2d3e50;
}

.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card .content .first {
    margin-top: 20px;
}

.accidents-statistics-section .accidents-statistics .accidents-statistics-card .card .content .info {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}