.main-header {
    max-width: 100%;
    height: 62px;
    /* Make align center for text*/
    line-height: 62px;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
    /* Put the border inside the header element*/
    box-sizing: border-box;
    background-color: #191c22;
    overflow: hidden;
}

.main-nav a {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    float: left;
}

.main-nav a:hover {
    color: #808080;
    font-weight: bold;
}

.web-site-name {
    display: inline;
}

.active {
    font-weight: bold;
}

.fa {
    margin-right: 3px;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-button:hover {
    cursor: pointer;
    color: #808080;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 15px;
    background-color: #c9c6c6;
    min-width: 200px;
    z-index: 5;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}