.swiper-container {
    max-width: 100%;
    height: 450px;
    border-bottom: 3px solid #191c22;
}


/* Slide 1 styling in all pages */

.slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.discordapp.net/attachments/722478446311112775/835401428964343838/1619245619169.jpg?width=1440&height=469");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* When the user's screen is under 950 px the slide1 image from swiper changes */

@media screen and (max-width:950px) {
    .slide1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/fsUqyVV.jpg");
    }
}


/* Slide 2 styling in Home Page*/

.slide2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/O9zrIvM.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 3 styling in Home Page*/

.slide3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/Pv2g4Cm.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 2 styling in Employees  Pages*/

.slide2-employee {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/9042HtE.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 3 styling in Employees Pages*/

.slide3-employee {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/dWsw76w.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 2 styling in Extinguishers info Page*/

.slide2-extinguisher {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/vqUE9j8.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 3 styling in Extinguishers info Page*/

.slide3-extinguisher {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/jJ7EoiO.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 2 styling in Trucks info Page*/

.slide2-fire-trucks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/cZk7XoV.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 3 styling in Trucks info  Page*/

.slide3-fire-trucks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/KRxp2SI.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}


/* Slide 2 styling in Accidents Pages*/

.slide2-accidents {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/9gnHc9T.jpg");
    background-size: cover;
    height: 550px;
}


/* Slide 3 styling in Accidents Page*/

.slide3-accidents {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/18qPmYx.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}