.swiper-container {
    max-width: 100%;
    height: 450px;
    border-bottom: 3px solid #191c22;
}

.swiper-wrapper {
    transition-duration: 0ms;
    transform: translate3d(0px, -550px, 0px);
}

.slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.discordapp.net/attachments/722478446311112775/835401428964343838/1619245619169.jpg?width=1440&height=469");
    background-position: center;
    background-size: cover;
    height: 550px;
}

@media screen and (max-width:875px) {
    .slide1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/fsUqyVV.jpg");
    }
}

.slide2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/O9zrIvM.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/Pv2g4Cm.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide2-employee {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/9042HtE.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide3-employee {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/dWsw76w.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.swiper-scrollbar-drag {
    transform: translate3d(0px, 107.8px, 0px);
    transition-duration: 0ms;
    height: 107.8px;
}

.slide2-extinguisher {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/vqUE9j8.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide3-extinguisher {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/jJ7EoiO.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide2-fire-trucks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/cZk7XoV.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide3-fire-trucks {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(" https://i.imgur.com/KRxp2SI.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}

.slide2-accidents {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/9gnHc9T.jpg");
    background-size: cover;
    height: 550px;
}

.slide3-accidents {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/18qPmYx.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
}