.statistics-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 20px 20px 50px #4e4d4d;
    overflow-x: auto;
}

th {
    font-size: 22px;
}

th,
td {
    text-align: center;
    padding: 12px;
}

thead tr {
    background-color: #353535;
}

tr:nth-child(even) {
    background-color: #919191
}

tr:nth-child(even):hover {
    background-color: #5a5858
}

tr:nth-child(odd) {
    background-color: #b1b1b1;
}

tr:nth-child(odd):hover {
    background-color: #808080;
}