/*Import font from google*/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body {
    font-family: 'Jura', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/xvVOYQl.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/*Registration for accidents styling*/

.registration {
    width: 85%;
    max-width: 600px;
    background-image: linear-gradient(to right, #a7a6a6, #afaaaa, #a7a6a6);
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(250, 250, 250, 0.1);
    backdrop-filter: blur(3px);
    text-align: center;
}

/*Registration for accidents h1 styling*/

.registration h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #ffffff;
}

/*Form register styling*/

.form-register {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

/*Form register label styling*/

.form-register label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
}

/*Form register input styling*/

.form-register input,
.form-register select {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    font-size: 16px;
    margin-top: 6px;
    color: #ffffff;
}

/*Form register option styling*/

.form-register option {
    color: #000000;
}

/*Form register selected - hover styling*/

.form-register select:hover {
    cursor: pointer;
}

/*Form register input styling*/

.form-register input {
    color: #ffffff;
}

/*Input styling*/

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}

/*Paragraph styling*/

p {
    display: none;
    color: #ffffff;
    padding: 10px;
}

/*Button styling*/

.button {
    display: block;
    background-color: gray;
    padding: 14px 0;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    width: 100%;
}

/*Button - hover styling*/

.button:hover {
    cursor: pointer;
    background-color: #5c5858;
}