@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body {
    font-family: 'Jura', sans-serif;
    background: rgba( 59, 72, 124, 0.25);
}

.first-employees {
    background-image: url("https://i.imgur.com/9OjSNJf.png");
    background-position: center;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
}

.employees-label-first {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 20px;
    text-align: center;
}

.employees-label-first h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    font-style: italic;
}

.second-employees {
    background-image: url("https://i.imgur.com/T8Ben9f.jpg");
    background-position: center;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
}

.second-employees .employees-label-second {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 20px;
    text-align: center;
}

.second-employees .employees-label-second h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    font-style: italic;
}

.employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.employee-card {
    width: 500px;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 14px;
}

.teams-section {
    background-image: linear-gradient(to right, #1d2536e5, #000000e5);
    border-top: 3px solid #000000;
    box-sizing: border-box;
}

.teams-section h1 {
    margin-bottom: 20px;
    padding-top: 20px;
    padding: 70px 20px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-style: italic;
}

.teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teams h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 5px solid #cfd6dd;
    text-align: center;
    color: white;
}

.teams-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/fXF8l32.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.teams-box {
    width: 500px;
    line-height: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 20px;
    border-radius: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.teams-box h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 5px solid #cfd6dd;
    text-align: center;
    color: white;
}

.teams-box p {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 5px solid #cfd6dd;
    text-align: center;
    color: white;
}

.teams-box-logo {
    width: 500px;
    line-height: 1.5em;
    margin-top: 40px;
    padding: 20px 20px;
}

.teams-box-logo img {
    width: 300px;
    margin-left: 90px;
    margin-top: 40px;
}

.employees-label-second {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    text-align: center;
}

.employees-label-second h1 {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
}