@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body {
    font-family: 'Jura', sans-serif;
    background-color: gray;
}

.home-page-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.imgur.com/9OjSNJf.png");
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 170px 20px;
    text-align: center;
}

.content {
    display: inline-block;
    max-width: 1170px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 5px solid #db8383;
    font-style: italic;
    color: #d3a542;
}

.about-us-section {
    background-image: linear-gradient(to right, #2b2929, #2c2b2be5);
    border-top: 3px solid #000000;
    box-sizing: border-box;
    padding-bottom: 45px;
}

.about-us-section h1 {
    margin-bottom: 20px;
    padding: 50px 20px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

.about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-us h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 5px solid #cfd6dd;
    text-align: center;
    color: #ffffff;
}

.about-us-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/fXF8l32.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us-box {
    width: 500px;
    line-height: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px 20px;
    border-radius: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.about-us-box h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 5px solid #cfd6dd;
    text-align: center;
    color: white;
}

.about-us-box p {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 5px solid #cfd6dd;
    text-align: center;
    color: white;
}

.about-us-box-logo {
    width: 500px;
    line-height: 1.5em;
    margin-top: 40px;
    padding: 20px 20px;
}

.about-us-box-logo img {
    width: 300px;
    margin-left: 90px;
    margin-top: 40px;
}